body {
  background-color: black;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
  color: black;
}

.centeredLeft {
  margin-left: 1000px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

   /* Control the right side */
   .right {
    right: 0;
    background-color: rgb(196, 184, 184);
    border-radius: 5px;
  }

/* Control the left side */
  .left {
    left: 0;
    background-color: white;
    border-radius: 5px;
    margin-right: 2.5px;
  }

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.but img {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}


.pad12 {
  margin: 12px;
  padding: 12px;
}

.pad12l {
  padding-left: 12px;
}

.pad12r {
  padding-right: 12px;
}

.pad12t {
  padding-top: 12px;
}

.pad12b {
  padding-bottom: 12px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.but {
  background-color: white;
  height:50px;
  width:50px;
  cursor:pointer;
}

.but:hover {
  background-color: lightGreen;
  color:white;
}

#spriteSpace {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 50%;
    }
    
    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }


    #top {
      background-color:white;
      height: 70%;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-radius: 5px;
    }

    #bottom {
      background-color: gray;
      height: 30%;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-radius: 5px;
    }


